main {
  width: 700px;
  height: auto;
  float: right;
}

div.h2 {
  width: 360px;
  height: 48px;
  margin-top: 10px;
  margin-bottom: 20px;
}

hr {
  background-color: black;
}

h2 {
  font-weight: bold;
  font-size: 32px;
}

.span {
  width: 700px;
  display: flex;
  justify-content: right;
  font-size: 18px;
  font-weight: 700;
}

.search {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}

.search select {
  width: 120px;
  height: 40px;
}

.search input[type="text"] {
  width: 250px;
  height: 40px;
}

.search #search {
  width: 70px;
  height: 40px;
  font-weight: bold;
  background-color: beige;
}

.table {
  width: 700px;
  margin-bottom: 30px;
}

.table table,
th,
tr,
td {
  border: 1px solid gainsboro;
  border-collapse: collapse;
}

.table table th,
tr {
  width: 100px;
  height: 40px;
  text-align: center;
}

.table th {
  background-color: beige;
}

.table th:nth-child(0),
th:nth-child(1) {
  width: 80px;
  max-width: 80px;
  white-space: nowrap;
  overflow: hidden;
}

.table th:nth-child(2) {
  width: 160px;
  max-width: 160px;
  white-space: nowrap;
  overflow: hidden;
}

.table th:nth-child(3) {
  width: 160px;
  max-width: 160px;
  white-space: nowrap;
  overflow: hidden;
}

.table th:nth-child(4) {
  width: 140px;
  max-width: 140px;
  white-space: nowrap;
  overflow: hidden;
}

.table th:nth-child(5) {
  width: 120px;
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
}

.btn {
  width: 50px;
  height: 30px;
  font-weight: bold;
  background-color: beige;
}

.btn-excel {
  width: 100px;
  position: absolute;
  right: 0;
  background-color: beige;
}

.page_wrap {
  margin-bottom: 30px;
}
