/* article */
/* article - section1 */
article .section1 {
  border-bottom: 1px solid black;
  margin-top: 60px;
  width: 900px;
  height: auto;
  padding-bottom: 20px;
}

article .section1 h2 {
  font-weight: bold;
}

/* article - section2 */
article .section2 {
  width: 670px;
  height: auto;
  padding-bottom: 20px;
  margin: 0 auto;
  margin-top: 30px;
}

article .section2 table {
  margin-left: 30px;
}

article .section2 table tr {
  width: 200px;
  height: 50px;
  font-weight: bold;
}

article .section2 table tr td:nth-child(1) {
  width: 80px;
}

article .section2 table tr td:nth-child(3) {
  width: 100px;
}

article .section2 input {
  height: 30px;
}

article .id input {
  width: 240px;
}

article .phone input {
  width: 120px;
}

/* article - section3 */
article .section3 {
  width: 900px;
  margin-top: 30px;
  text-align: center;
  padding-bottom: 10px;
}

article .section3 input {
  width: 100px;
  height: 40px;
  font-weight: bold;
}
#find_id {
  cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
