/* common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 960px;
  height: auto;
  margin: 0 auto;
  padding: 30px;
}

a {
  text-decoration: none;
  color: inherit;
}

/* header */
header {
  position: relative;
  width: 900px;
  height: 120px;
  margin-bottom: 30px;
}

header .header-group {
  width: 900px;
  height: 90px;
  margin-bottom: 10px;
}

header .header-group .header-center {
  position: absolute;
  transform: translate(200%, 0%);
  width: 180px;
  height: 90px;
  text-align: center;
}

header .header-group .header-center img {
  width: 100%;
  height: 100%;
}

header .header-group .header-right {
  position: absolute;
  transform: translate(200%, 0%);
  margin-top: 30px;
  font-weight: bold;
  font-size: 12px;
  width: 300px;
  height: auto;
}

header .header-group .header-right .header-right-top {
  margin-bottom: 10px;
}

header .header-group .header-right .header-right-top span {
  margin-right: 25px;
}

header .header-group .header-right .header-right-bottom span {
  margin-right: 17px;
}

header nav {
  text-align: center;
  width: 900px;
  font-size: 0;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  border: 1px solid rgb(51, 51, 51);
  width: 150px;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  background-color: beige;
  color: rgb(51, 51, 51);
  list-style-type: none;
  line-height: 30px;
  text-align: center;
}

header nav ul li a {
  display: block;
}
