/* article */
/* article - section1 */
article .section1 {
  border-bottom: 1px solid black;
  margin-top: 60px;
  width: 900px;
  height: auto;
  padding-bottom: 20px;
}

article .section1 h2 {
  font-weight: bold;
}

article .section2 {
  width: 900px;
  height: auto;
  margin-top: 30px;
}

article .section2 table {
  margin: 0 auto;
}

article .section2 table td {
  width: 120px;
  height: 50px;
}

article .section2 #id,
#password {
  width: 250px;
  height: 48px;
  font-size: 16px;
}

article .section2 #login {
  width: 100px;
  height: 100px;
  font-weight: bold;
  margin-left: 10px;
}

article .section3 {
  margin-top: 10px;
  text-align: center;
}

article .section3 #findId,
#findPassword {
  width: 150px;
  height: 40px;
  font-weight: bold;
  cursor: pointer;
}
