/* article */
article .article-group {
  text-align: center;
}

/* article - section1 */
/* over-flow: 지정 영역 넘어가면 숨김 */
article .section1 {
  position: relative;
  min-width: 900px;
  height: 450px;
  overflow: hidden;
}

article .section1_slides {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

article .section1_slides img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* -webkit-transition: 모든 브라우저에 통용 */
article .section1_slides .animated {
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

/* 이미지가 모두 겹쳐짐 */
article .section1_slides a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

/* text-indent: text를 멀리 보냄 */
article .section1_nav a {
  width: 71px;
  height: 71px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: url("../image/sprites.png") no-repeat;
  text-indent: -9999em;
}

article .section1_nav .prev {
  background-position: 0 -20px;
  margin-left: -350px;
}

article .section1_nav .next {
  background-position: -80px -20px;
  margin-left: 350px;
}

article .section1_indicator {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  text-align: center;
}

/* 흰색 Indicator(선택 X) */
article .section1_indicator a {
  background: url("../image/sprites.png") no-repeat -113px -4px;
  width: 9px;
  height: 8px;
  text-indent: -9999em;
  display: inline-block;
  margin: 5px;
}

/* 검정색 Indicator(선택 O) */
article .section1_indicator a.activated {
  background: url("../image/sprites.png") no-repeat -133px -4px;
  width: 9px;
  height: 8px;
  text-indent: -9999em;
  display: inline-block;
  margin: 5px;
}

/* article - section2 */
article .section2 {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 900px;
  height: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
}

article .section2 h2 {
  line-height: 60px;
  font-size: 16px;
}

article .section2 span {
  font-size: 12px;
  font-weight: bold;
  line-height: 60px;
  margin-left: 20px;
}

article .section2 #check_in,
#check_out {
  width: 180px;
  height: 30px;
  margin-left: 20px;
}

article .section2 #button {
  width: 90px;
  height: 30px;
  margin-left: 20px;
  font-weight: bold;
}

/* article - section3 */
article .section3 {
  width: 900px;
  height: 300px;
}

article .section3 .section3-sub {
  width: 300px;
  float: left;
  text-align: left;
  margin-bottom: 30px;
}

article .section3 img {
  width: 300px;
  height: 250px;
  background-size: 100% 100%;
}

article .section3 span {
  font-size: 14px;
  font-weight: bold;
}
