main {
  width: 700px;
  height: auto;
  float: right;
}

.h2 {
  width: 360px;
  height: 48px;
  margin-top: 10px;
  margin-bottom: 20px;
}

hr {
  background-color: black;
}

h2 {
  font-weight: bold;
  font-size: 32px;
}

.form {
  margin-top: 20px;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
}

td {
  height: 50px;
  text-align: center;
  border: 1px solid black;
}

td.title {
  background-color: beige;
  width: 200px;
}

tr :last-child {
  width: 500px;
}

td#content {
  height: 300px;
}

td > input {
  border: none;
  outline: none;
  height: 50px;
  padding: 5px;
}

td > textarea {
  border: none;
  resize: none;
  outline: none;
  height: 300px;
  padding: 5px;
}

.terms {
  width: 700px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#terms1_text {
  width: 700px;
  resize: none;
  outline: none;
  margin-bottom: 10px;
}

.button {
  width: 700px;
  text-align: center;
  display: flex;
  justify-content: right;
}

.button div {
  width: 300px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.button input {
  width: 100px;
  height: 40px;
  font-weight: bold;
  background-color: beige;
}

.textarea textarea {
  width: 700px;
  height: 150px;
  resize: none;
  outline: none;
}

.reply {
  width: 700px;
  text-align: center;
  display: flex;
  justify-content: right;
  margin-bottom: 10px;
}

.reply input {
  width: 80px;
  height: 40px;
  font-weight: bold;
  background-color: beige;
}
