/* article */
/* article - section1, 2 */
article .section1,
.section2 {
  border-bottom: 1px solid black;
  display: flex;
  position: relative;
  margin-top: 30px;
  width: 900px;
  height: auto;
  padding-bottom: 20px;
  padding-right: 20px;
}

article .section1 span {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: bold;
}

/* article - section3 */
article .section3 {
  border-bottom: 1px solid black;
  margin-top: 30px;
  width: 900px;
  height: auto;
  padding-bottom: 30px;
}

article .section3-1,
.section3-2,
.section3-3,
.section3-4 {
  margin-top: 30px;
  width: 900px;
  height: auto;
}

article .section3-1 fieldset,
.section3-2 fieldset,
.section3-3 fieldset,
.section3-4 fieldset {
  padding: 20px;
  height: auto;
  margin-bottom: 10px;
}

article .section3-1 h3,
.section3-2 h3,
.section3-3 h3,
.section3-4 h3 {
  font-weight: bold;
  margin-bottom: 20px;
}

article .section3-1 span,
.section3-2 span,
.section3-4 span {
  height: 30px;
  font-size: 12px;
  font-weight: bold;
}

article .section3-1 #check_in,
.section3-1 #check_out {
  width: 180px;
  height: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

article .section3-2 #adult,
#child,
.section3-4 #adult_breakfast,
#child_breakfast {
  width: 90px;
  height: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

article .section3-3-sub {
  text-align: center;
}

article .section3-3 .section3-3-left,
.section3-3-center,
.section3-3-right {
  display: inline-block;
  vertical-align: top;
  width: 270px;
  height: 200px;
  text-align: left;
  margin-left: 10px;
}

article .section3-3 .section3-3-left img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

article .section3-3 .section3-3-center h3,
h4 {
  margin: 30px;
}

article .section3-3 .section3-3-right .room_type {
  margin-top: 30px;
  margin-right: 30px;
}

/* article - section4 */
article .section4 {
  text-align: center;
  margin-top: 30px;
  width: 900px;
  height: auto;
}

article .section4 input {
  font-weight: bold;
  margin-top: 30px;
  width: 100px;
  height: 40px;
}
