/* article */
article .section1,
.section2,
.section3,
.section4,
.section5 {
  border-bottom: 1px solid black;
  margin-top: 30px;
  width: 900px;
  height: auto;
  padding-bottom: 20px;
}

article .section6 {
  width: 900px;
  height: auto;
  margin-top: 30px;
  text-align: center;
}

article .section2 h3,
.section3 h3,
.section4 h3,
.section5 h3 {
  margin-bottom: 20px;
}

article .section2 span,
.section3 span,
.section4 span,
.section5 span {
  margin-top: 20px;
  font-size: 12px;
  font-weight: bold;
}

article .section2 table {
  border-collapse: collapse;
  margin-bottom: 20px;
}

article .section2 td {
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
}

article .section2 input {
  width: 60px;
}

article .section3 textarea {
  padding: 20px;
  width: 300px;
  height: 200px;
}

article .section6 #submit {
  width: 100px;
  height: 40px;
  font-weight: bold;
}
